body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.inc.com%2Fbill-murphy-jr%2F101-positive-quotes-to-help-you-look-on-the-bright.html&psig=AOvVaw0v8IhBfD-TA33ACO3ny4pk&ust=1624012938692000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKj30IXInvECFQAAAAAdAAAAABAD);
    background-repeat: no-repeat;
    background-size: cover;
}