{% macro displayPitches(pitch_list)%}

   {% for pitch in pitch_list %}
      <li>{{pitch.title}}</li>
      <li>{{pitch.pitch}}</li>
      <p>posted by {{pitch.name}} on {{pitch.posted}}</p>
      <a href="{{url_for('main.comment_pitch',pitch_id=pitch.id)}}"><button type="button" class="btn btn-success">Comments</button></a>
      <!-- <div>
         <p>{{pitch}}</p><br>
         <p>{{pitch}}</p>

      </div>
      <div>
         <p>{{pitch.comments}}</p>
      </div> -->
   {% endfor %}
{% endmacro %}

{% macro displayComments(comments_list)%}
      {% for comment in comment_list %}
         <p>{{comment.get_comments()}}</p>
         <blockquote>{{comment.posted}}</blockquote>
      {% endfor%}

{% endmacro %}

{% macro displayPersonalPitches(pitch_list)%}
      {% for pitch in pitch_list %}
         <li>{{pitch.title}}</li>
         <p>{{pitch.pitch}}</p>

      {% endfor%}
{% endmacro %}
